In [127]:
#Importing Data from the CSV file
%matplotlib inline
import math
import numpy as np

In [28]:
import pandas as pd 
myFile = pd.read_csv('fashion_mnist/train.csv', sep=',', header=None, index_col=False)

In [88]:
myFile.iat[1,784]

1.0

In [149]:
df_train = myFile[(myFile.get(784) == 3) | (myFile.get(784) == 4)]
train_classes = df_train[784]
train_classes.index = np.arange(0, len(df_train))
df_train = df_train.drop(784, axis=1)
df_train.index=(np.arange(0, len(df_train)))
df_train /= 255

28*28 - one row size = 784 - one training data

In [150]:
df_train

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.003922,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.384314,0.843137,0.670588,0.415686,0.066667,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.003922,...,0.772549,0.000000,0.000000,0.011765,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.011765,0.400000,...,0.184314,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.003922,0.000000,0.000000,...,0.917647,0.725490,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.011765,0.007843,0.000000,...,0.011765,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4496,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.090196,...,0.062745,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4497,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.003922,0.000000,...,0.000000,0.000000,0.000000,0.545098,0.760784,0.760784,0.345098,0.000000,0.0,0.0
4498,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.039216,...,0.309804,0.294118,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4499,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.019608,...,0.498039,0.549020,0.192157,0.000000,0.007843,0.000000,0.000000,0.000000,0.0,0.0

In [151]:
import cvxopt